.edit-course-page {
  padding-top: 15px;
}

.edit-course-page .row {
  margin-top: 15px;
}

.edit-course-page .control-label {
  text-align: right;
}

.edit-course-page .btn-container .btn {
  margin-right: 15px;
}
